body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    color: #333;
    transition: 0.3s;
}

/* DARK MODE */
body.dark {
    background-color: #121212;
    color: #eee;
}

body.dark .container {
    background-color: #1e1e1e;
}

header {
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.profil-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 10px;
}

nav {
    background-color: #16a085;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #34495e;
    color: white;
}

footer {
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 10px;
}
